//Déclaration initiale

.box {
   box-sizing: border-box; /* Opera/IE 8+ */
/* box-sizing est appliqué seulement à cette classe */
}

* {
 box-sizing: border-box;
/* box-sizing est appliqué à tous les éléments */
}

//Snippet pour les préfixes de box-sizing

.box {
   box-sizing: border-box; /* Opera/IE 8+ */
   -moz-box-sizing: border-box; /* Firefox, autres Gecko */
   -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

html, body, header{
    margin-left : 20px;
    padding: 0;
  }

body{
    font-family: 'Raleway', sans-serif;
}

h2{

    font-size: medium;
}

header {
    display: flex;
    flex-direction: row;
}

header #logo{
    background-color: rebeccapurple;
    padding-left :20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


header nav{
    background-color: aqua;
    display: flex;
    flex: 1;
    justify-content:flex-end;
    padding-right: 15px;
}

header nav ul{
    background-color: green;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    
}

header nav li {
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

header nav li:hover{
    border-top: 2px solid blue ;
}

/* Formulaire de recherche*/

/* Marge à droite ?*/ 
.search{

    width:380px;
    height:50px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center; 
    margin-top:50px;
}


.search .icon{
    height:100%;
   background-color: #F2F2F2;
   width:40px;
   display:flex;
   justify-content:center;
   align-items:center;
   border-top-left-radius: 10px;
   border-bottom-left-radius:10px;
 }

 .search input{
    height:100%;
    border:0;
    flex: 1;  
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    padding-left:10px;
    font-weight: bold;
  }

  .search button{
    background-color:#0065FC;
    border:0;
    height:100%;
    color:#fff;
    padding-left:10px;
    padding-right:10px;
    font-weight:550;
    font-size:.9em;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
  }
  

/*Filtres*/

#filter h2

{
    display: flex;
    justify-content: center;
    align-items: center;
}

i{
   color:#0065FC;
}

#filter{
    padding-top:20px;
    width: 80%;
    height: 100px;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.circle{
    width:50px;
    height:50px;
    background: #DEEBFF;
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  #filter button {
      height: 45px;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      border-color: #F2F2F2;
      border-top-right-radius: 25px;
      border-bottom-right-radius:25px;
      padding-left: 25px;
      padding-right: 25px;
      margin-left: -15px;
      z-index: -1;
      background-color: #fff;
      font-weight: 700;
  }


#money
{
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    z-index: -1;   
}

#family{
    
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    z-index: -1;   
}


#love
{
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    z-index: -1;   
}

#pet{
    height: 100%;
    width: 180px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center; 
}

#information{

    display: flex;
    align-items: center;
    padding-top: 200px;

}

#information i{
    width:25px;
    height:25px;
    background-color: white;
    border-style:solid;
    border-radius: 50%;
    border-color: #F2F2F2;
    display:flex;
    justify-content:center;
    align-items:center;
   margin-right: 10px;
}

/* Hébergements*/

#article {
    background-color:red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1
}

#aside{
    background-color: yellow;
    display: flex;
    flex-direction: row;
 
}


/*Carte*/

.card{
    
    width: 280px;
    height: 230px;
    padding-left: 5px;
    border: solid 3px blue;
    border-radius: 10%;
    background-color:#fff;
    
}
.card-image img{
    width: 260px;
    height: 130px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    padding-top: 5px;
    object-fit: cover;
}

.card-body{
    
    font-weight: 700;
}



/* Règles CSS pour Mobiles */

@media screen and (max-width: 768px) 

{

    header{
        height: 150px;
        background-color: red;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }
    
    header #logo{
        width: 180px;
        height: 100px;
        margin-left: 20px;
    }
    
    header nav {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-color: yellow;
    }
    
    header nav ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        list-style-type: none;
        height: 100%;
    }
    
    header nav li{
        background-color: green;
        padding-left: 40px;
        padding-right: 40px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 250px;
        border-bottom: 2px solid transparent;
        box-sizing: border-box;
        cursor:pointer;
    }
    
    header nav li:hover {
        border-bottom: 2px solid blue;
    }
    
/*search bar*/


/*Filter*/

#filter {
    display: flex;
}


}

